node_modules
.DS_Store
.vscode
.idea

# List individually so that features/components/org./dist is included
auth/dist
common/dist
config/dist
domain-events/dist
domain-events-infra/dist
features/dist
settings/dist
snjs/dist
time/dist

yarn-error.log
package-lock.json
lerna-debug.log
newrelic_agent.log

# Ignore ENV variables config
.env
auth.env
api-gateway.env
syncing-server-js.env
syncing-server.env
codeqldb

packages/features/tmp