node_modules
.DS_Store
.idea

coverage

dist

yarn-error.log
package-lock.json
lerna-debug.log
newrelic_agent.log

.env
auth.env
api-gateway.env
syncing-server-js.env
syncing-server.env
mock-event-publisher.env
files.env
codeqldb

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/unplugged
!.yarn/sdks
!.yarn/versions
