node_modules
.DS_Store
.vscode
.idea

coverage

# List individually so that packages/components/all/org./dist is included
packages/analytics/dist
packages/auth/dist
packages/common/dist
packages/components/dist
packages/config/dist
packages/domain-events-infra/dist
packages/domain-events/dist
packages/encryption/dist
packages/features/dist
packages/filepicker/dist
packages/filepicker/example/dist
packages/files/dist
packages/models/dist
packages/responses/dist
packages/services/dist
packages/settings/dist
packages/sncrypto-common/dist
packages/sncrypto-node/dist
packages/sncrypto-web/dist
packages/snjs/dist
packages/time/dist
packages/utils/dist

yarn-error.log
package-lock.json
lerna-debug.log
newrelic_agent.log

# Ignore ENV variables config
.env
auth.env
api-gateway.env
syncing-server-js.env
syncing-server.env
mock-event-publisher.env
files.env
codeqldb

packages/components/tmp
