[submodule "packages/features/src/Static/org.standardnotes.code-editor"]
	path = packages/features/src/Static/org.standardnotes.code-editor
	url = git@github.com:standardnotes/code-editor.git
[submodule "packages/features/src/Static/org.standardnotes.bold-editor"]
	path = packages/features/src/Static/org.standardnotes.bold-editor
	url = git@github.com:standardnotes/bold-editor.git
[submodule "packages/features/packages/features/src/Static/org.standardnotes.plus-editor"]
	path = packages/features/packages/features/src/Static/org.standardnotes.plus-editor
	url = git@github.com:standardnotes/plus-editor.git
[submodule "packages/features/src/Static/org.standardnotes.plus-editor"]
	path = packages/features/src/Static/org.standardnotes.plus-editor
	url = git@github.com:standardnotes/plus-editor.git
[submodule "packages/features/src/Static/org.standardnotes.simple-markdown-editor"]
	path = packages/features/src/Static/org.standardnotes.simple-markdown-editor
	url = git@github.com:standardnotes/markdown-basic.git
[submodule "packages/features/src/Static/org.standardnotes.advanced-markdown-editor"]
	path = packages/features/src/Static/org.standardnotes.advanced-markdown-editor
	url = git@github.com:standardnotes/advanced-markdown-editor.git
[submodule "packages/features/src/Static/org.standardnotes.minimal-markdown-editor"]
	path = packages/features/src/Static/org.standardnotes.minimal-markdown-editor
	url = git@github.com:standardnotes/minimal-markdown-editor.git
[submodule "packages/features/src/Static/org.standardnotes.fancy-markdown-editor"]
	path = packages/features/src/Static/org.standardnotes.fancy-markdown-editor
	url = git@github.com:standardnotes/math-editor.git
[submodule "packages/features/src/Static/org.standardnotes.simple-task-editor"]
	path = packages/features/src/Static/org.standardnotes.simple-task-editor
	url = git@github.com:standardnotes/simple-task-editor.git
[submodule "packages/features/src/Static/org.standardnotes.token-vault"]
	path = packages/features/src/Static/org.standardnotes.token-vault
	url = git@github.com:standardnotes/token-vault.git
[submodule "packages/features/src/Static/org.standardnotes.standard-sheets"]
	path = packages/features/src/Static/org.standardnotes.standard-sheets
	url = git@github.com:standardnotes/secure-spreadsheets.git
[submodule "packages/features/src/Static/org.standardnotes.file-safe"]
	path = packages/features/src/Static/org.standardnotes.file-safe
	url = git@github.com:standardnotes/filesafe-client.git
[submodule "packages/features/src/Static/org.standardnotes.folders"]
	path = packages/features/src/Static/org.standardnotes.folders
	url = git@github.com:standardnotes/folders-component.git
[submodule "packages/features/src/Static/org.standardnotes.theme-midnight"]
	path = packages/features/src/Static/org.standardnotes.theme-midnight
	url = git@github.com:standardnotes/midnight-theme.git
[submodule "packages/features/src/Static/org.standardnotes.theme-futura"]
	path = packages/features/src/Static/org.standardnotes.theme-futura
	url = git@github.com:standardnotes/futura-theme.git
[submodule "packages/features/src/Static/org.standardnotes.theme-solarized-dark"]
	path = packages/features/src/Static/org.standardnotes.theme-solarized-dark
	url = git@github.com:standardnotes/solarized-dark-theme.git
[submodule "packages/features/src/Static/org.standardnotes.theme-autobiography"]
	path = packages/features/src/Static/org.standardnotes.theme-autobiography
	url = git@github.com:standardnotes/autobiography-theme.git
[submodule "packages/features/src/Static/org.standardnotes.theme-focus"]
	path = packages/features/src/Static/org.standardnotes.theme-focus
	url = git@github.com:standardnotes/focus-theme.git
[submodule "packages/features/src/Static/org.standardnotes.theme-titanium"]
	path = packages/features/src/Static/org.standardnotes.theme-titanium
	url = git@github.com:standardnotes/titanium-theme.git
[submodule "packages/features/src/Static/org.standardnotes.theme-dynamic"]
	path = packages/features/src/Static/org.standardnotes.theme-dynamic
	url = git@github.com:standardnotes/dynamic-theme.git
