LOG_LEVEL="debug"
NODE_ENV="production"
VERSION="snjs-test"

PORT=3000

SYNCING_SERVER_JS_URL="http://syncing-server-js:3000"
AUTH_SERVER_URL="http://auth:3000"
FILES_SERVER_URL="http://localhost:3125"

AUTH_JWT_SECRET="change-me-!"

NEW_RELIC_ENABLED=false

REDIS_URL="redis://cache:6379"
REDIS_EVENTS_CHANNEL="api-gateway-events"
