LOG_LEVEL="debug"
NODE_ENV="production"
VERSION="snjs-test"
SNS_TOPIC_ARN="arn:aws:sns:us-east-1:000000000000:auth-local-topic"
SNS_ENDPOINT="http://localstack:4566"
SNS_AWS_SECRET_ACCESS_KEY="x"
SNS_AWS_ACCESS_KEY_ID="x"
SNS_AWS_REGION="us-east-1"
NEW_RELIC_ENABLED=false
