LOG_LEVEL="debug"
NODE_ENV="production"

JWT_SECRET="change-me-!"
LEGACY_JWT_SECRET="not-needed-anymore"
AUTH_JWT_SECRET="change-me-!"

PORT=3000

DB_HOST="db"
DB_REPLICA_HOST="db"
DB_PORT=3306
DB_DATABASE="testdb"
DB_USERNAME="testuser"
DB_PASSWORD="testpassword"
DB_DEBUG_LEVEL="query"
DB_MIGRATIONS_PATH="dist/migrations/*.js"

REDIS_URL="redis://cache:6379"

DD_TRACE_ENABLED=false

DISABLE_USER_REGISTRATION=false

ACCESS_TOKEN_AGE=4
REFRESH_TOKEN_AGE=7

EPHEMERAL_SESSION_AGE=300

MAX_LOGIN_ATTEMPTS=6
FAILED_LOGIN_LOCKOUT=3600

PSEUDO_KEY_PARAMS_KEY="change-me-!"

REDIS_EVENTS_CHANNEL="syncing-server-js-events"

INTERNAL_DNS_REROUTE_ENABLED=false
EXTENSIONS_SERVER_URL=http://extensions-server:3004
AUTH_SERVER_URL=http://auth:3000

EMAIL_ATTACHMENT_MAX_BYTE_SIZE=10485760

REVISIONS_FREQUENCY=300
