LOG_LEVEL="debug"
NODE_ENV="production"
VERSION="snjs-test"

AUTH_JWT_SECRET="change-me-!"

PORT=3000

DB_HOST="db"
DB_REPLICA_HOST="db"
DB_PORT=3306
DB_DATABASE="testdb"
DB_USERNAME="testuser"
DB_PASSWORD="testpassword"
DB_DEBUG_LEVEL="query"
DB_MIGRATIONS_PATH="dist/migrations/*.js"

REDIS_URL="redis://cache:6379"

DD_TRACE_ENABLED=false

REDIS_EVENTS_CHANNEL="syncing-server-js-events"

INTERNAL_DNS_REROUTE_ENABLED=false
AUTH_SERVER_URL=http://auth:3000

EMAIL_ATTACHMENT_MAX_BYTE_SIZE=10485760

REVISIONS_FREQUENCY=1

NEW_RELIC_ENABLED=false
